$primaryColor:rgb(252, 205, 50);
$service-grid-color: rgb(1, 24, 31);


body{
    
    width: 100%;
    font-family: 'Founders Grotesk','Helvetica Neue',Arial,'Noto Sans',sans-serif;
    p{
        font-weight: 400;
        color: rgba(37,48,53,.7);
    }
    
}
.top-container{
    display: flex;
    margin: 2%;
    
}
.lanterna{
    background-color: rgb(252, 205, 50);
    width: 164px;
    height: 80px;
    border: 1px solid rgb(252, 205, 50);
    border-bottom-right-radius: 50px;
    text-align: center;
     h3{
        line-height: 10%;
     }
}
.nav1{
    padding-left: 10px;
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 20px ;
            a{
                text-decoration: none;
                color: black;
                font-size: small;
            }
        }
    }
}

.nav2{
    margin-left: auto;
    margin-top: 25px;
    li{
        list-style: none;
        display: inline-block;
        margin-right: 50px;
        a{
            text-decoration: none;
            color: black;
            font-size: small;
            
        }
    }
}
.talk{
    text-decoration: underline;
    font-weight:bold ;
}
.login{
    background-color: white;
    width: 100px;
    border: 1px solid;
    border-color: white rgb(194, 192, 192) white white;
   
    padding: 10px;
    text-align: center;
}
.booknow{
    background-color: white;
    width: 100px;
    border: 1px solid rgb(146, 140, 140);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top:5%;
    .grid1{
        margin-left: 17%;
        font-size: larger;
        span{
            text-decoration: underline;
            text-decoration-color: rgb(252, 205, 50);
        }
    }
    .grid2{
        .p1{
           padding-top: 3%;
        }
        .p2{ 
            padding-top: 4%;
            span{
                background:rgb(252, 205, 50) ;
                width: 200px;
                text-align: center;
                border-radius: 20px;
                padding: 10px;
                font-weight: bold;
            }
            a{
                color: black;
                font-size: small;
                font-weight: bold;
            }
            
        }
        
    }

}
.image{
    margin-top: 7%;
    img{
        width: 100%;
        height: 85vh;
        
    }
    
}
.service-grid{
    
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: $service-grid-color;
    width: 100%;
    height: 60vh;
    margin-top: -1%;
       .circle{
        text-align: start;
        background-color: $service-grid-color;
        width: 200px;
        height: 70px;
        border: 1px solid;
        border-color:$service-grid-color $service-grid-color gray $service-grid-color ;
        margin-left: 40%;
        margin-top: 20%;
       }

       .square{
        margin-left: 37%;
        @extend .circle;
       }

       .shaped{
        margin-left: 37%;
        @extend.circle;
       }
       
       .rating{
        color: $primaryColor ;
        font-size: 6dvh;
       }
       .no_of_std{
        @extend .rating;
       }
       .hours{
        @extend .rating;
       }
}

.success{
    margin-top: 11%;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
    line-height: 80%;
    p{
        line-height: 0.5;
    }
    span{
        text-decoration: underline;
        text-decoration-color: $primaryColor;
    }
}
.success-card{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
    display: grid;
    max-width: 100%;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
      .icon{
        font-size: 3rem;
        color: rgb(204, 123, 17);
      }
      .icon1{
        color: gray;
        @extend .icon;
      }
      .icon2{
        color:rgb(71, 173, 139) ;
        @extend .icon;
      }
      .icon3{
        color:rgb(71, 173, 139) ;
        @extend .icon;
      }
      .icon4{
        color:rgb(204, 123, 17); 
        @extend .icon;
      }
      .icon5{
        color:gray; ;
        @extend .icon;
      }
}

.purchase{
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgb(240, 240, 240);
    max-width: 10
    0%;
    height: 60vh;
    text-align: center;
    padding-top: 4%;
       button{
        margin-top: 2%;
        margin-bottom: 4%;
        padding: 1% 2%;
        background-color: $primaryColor;
        border-color: $primaryColor;
        border-radius: 20px;
       }
      .purchase-image{
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 3%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2px;
         .img1{
            display: inline-block;
            h2,p{
                padding-left: 4%;
                text-align: justify;
            }
         }
         .img2,.img3{
            @extend .img1
         }
         img{
            width: 90%;
         }
      }
}
.review{
    margin-top: 35%;
    margin-left: 12%;
    text-align: justify;
}
.card{
    display: grid;
    column-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    .card1,.card2,.card3{
        width: 20vw;
        background-color: whitesmoke;
        height: 25vh;
        padding: 2rem;
        
        
        &:hover{
            background-color: rgb(238, 238, 238);
        }
    }
    
}

.advisor{
    text-align: center;
    margin-top: 15%;
      span{
        text-decoration: underline $primaryColor;
      }
}

.advisor-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 11%;
    margin-right: 10%;
    column-gap: 2px;
   
    .image1{
        display: inline-block;
        h2,p{
            text-align: justify;
            padding-left: 4%;
        }
    }
    .image2,.image3{
        @extend .image1
    }
        img{
            width: 90%;
        }
        
}
.btn{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 1% 2%;
    border-color: $primaryColor;
    border-radius: 20px;
    button{
        background-color: $primaryColor;
    }
}

.footer{
    background-color: $service-grid-color;
    width: 100%;
    height: 80vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding-top: 8%;
    .about{
        margin-left: 15%;
        color: azure;
        line-height: 2rem;
        li{
            list-style: none;
            text-align: start;
            a{
                color: beige;
                background-color: $service-grid-color;
                width: 20px;
                i{
                    text-align: center;
                    font-size: 1.2rem;
                    background-color: $service-grid-color;
                    width: 3rem;
                    border: 1px solid;
                    border-radius: 50%;
                    
                }
            }
          
    }
      
}
    .details{
        color: azure;
        line-height: 2rem;
        text-align: justify;
         li{
            list-style: none;
         }
    }

    .contactus{
        
        line-height: 2rem;
        text-align: justify;
        form{
            button{
                background-color: $primaryColor;
             }
        } 
            
        li{
            list-style: none;
            padding-bottom: 2%;
            input{
                width: 75%;
                padding: 1.5%;
                background-color: $service-grid-color;
                border: 1px solid gray;
                border-radius: 5px;
                height: 2rem;
            }
        }
    }
}
.footer2{
    background-color: $service-grid-color;
    max-width: 100%;
    text-align: center;
    height: 100px;margin-top: -1.1%;
    padding-top: 30px;
}